:root {
  --black: #000000;
  --white: #6f6972;
  --default-bg: #000000;
  --scene-fade-time: 0.5s;
  --bg-color-fade-time: 0.8s;
}

@font-face {
  font-family: 'Zed Mono Extended';
  src: url('/fonts/zed-mono-extended.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zed Mono Extended';
  src: url('/fonts/zed-mono-bold.ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  transition: background-color var(--bg-color-fade-time) ease-in-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in var(--scene-fade-time) ease-in forwards;
}

.fade-out {
  animation: fade-out var(--scene-fade-time) ease-out forwards;
}

html {
  background-color: var(--default-bg);
}

html.dark body {
  background-color: var(--black);
}

html:not(.dark) body {
  background-color: var(--white);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 0.5s infinite linear;
}

@keyframes highlight {
  0% {
    color: var(--white);
    background-color: transparent;
  }

  15%,
  90% {
    color: var(--black);
    background-color: var(--white);
  }

  98% {
    color: var(--white);
    background-color: transparent;
  }
}

@keyframes highlight-invert {
  0% {
    color: var(--black);
    background-color: transparent;
  }

  15%,
  90% {
    color: var(--white);
    background-color: var(--black);
  }

  98% {
    color: var(--black);
    background-color: transparent;
  }
}

.highlight-a-bit {
  animation: highlight 0.9s ease;
}

.highlight-a-bit-inverted {
  animation: highlight-inverted 0.9s ease;
}

.transition-faster {
  transition: all 0.3s ease;
}

.choice-list-move,
.choice-list-enter-active {
  transition: all 1.05s ease;
}

.choice-list-leave-active {
  transition: all 1.05s ease;
}

.choice-list-enter-from,
.choice-list-leave-to {
  opacity: 0;
}

.go-away {
  opacity: 0.00001;
}

.choice-list-leave-active {
  position: absolute;
}
