body {
  margin: 0;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rotating {
  animation: rotate 0.5s infinite linear;
}

@keyframes highlight {
  0% {
    color: black;
    background-color: transparent;
  }

  15%, 90% {
    color: white;
    background-color: #000;
  }

  98% {
    color: black;
    background-color: transparent;
  }
}

.highlight-a-bit {
  animation: highlight 0.9s ease;
}

.transition-faster {
  transition: all 0.3s ease;
}

.choice-list-move,
.choice-list-enter-active {
  transition: all 1.05s ease;
}

.choice-list-leave-active {
  transition: all 1.05s ease;
}

.choice-list-enter-from,
.choice-list-leave-to {
  opacity: 0;
}

.go-away {
  opacity: 0.00001;
}

.choice-list-leave-active {
  position: absolute;
}